@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Syne&display=swap');
@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');
@import url('http://fonts.cdnfonts.com/css/futura-md-bt');
@import url('http://fonts.cdnfonts.com/css/avenir-next-lt-pro');



* {
    margin: 0;
    box-sizing: border-box;
    &:after,
    &:before {
        box-sizing: border-box;
    }
    
}

html,body {
    overflow-x: hidden;
    
    
}

.block {
    height: 150px;
    width: 200vw;
    
}

body {
    font-family: 'Avenir Next LT Pro', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    height: 100vh;
    background: white;
}

button, input, textarea, select {
    font: inherit
}

p,h1,h2,h3,h4,h5,h6 {
    overflow-wrap: break-word;
}

img,video,canvas,svg {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/*-----Variables-------------*/
$green-color: #6cff8d;
$dark-green-color: #6cff8c7a;
$red-color:#851115;
$blue-color:#2196f3;
$yellow-color:#ddb44b;
$darkish-blue: #120d25;
$matte-black: #11111D;
$box-shadow-blue1: rgba(31 ,38, 135, 0.27);
$box-shadow-blue2: rgba(31 ,38, 135, 0.67);
$cream-white: #dfd2b8; 


// PRDEFINED

.section {
    padding: 1rem;
    overflow: hidden;
    min-height: 100vh;
    padding-top: 5rem;
    @media (min-width: 650px) {
        padding: 5rem;
    }
    &__header {
        &-title {
            font-weight: 400;
            font-size: 17px;
            color: #666;
        }
        &-subtitle {
            font-size: 27px;
            font-weight: 700;
        }
    }
}