@import "./base.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Roboto:ital,wght@0,300;0,500;1,900&family=Syne&display=swap');



.intro {
    font-family: 'Helvetica ', sans-serif;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #16182c;
    transition: 1.5s;
  }
  
  .welcome-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
  }
  
  .letter {
    z-index: 3;
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-size: 4rem;
  }
  
  .letter.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
  }
  
  .letter.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
  }
  
  #pic {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  opacity: 0;
  width: 50%;
  }
  
  #pic.active {
    opacity: 1;
    transition: ease-in-out .5s;
  }
  
  @media screen and (max-width: 500px) {
    .letter {
      font-size: 1.4rem;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .letter {
      font-size: 2rem;
    }
  }