@import "./base.scss";

.skills {
    
    img {
        height: 100px;
        padding-left: 150px;
        
    }
    font-family: 'Avenir Next LT Pro', sans-serif;    
    color: #dfd2b8;    
    position: relative;
    font-size: 50px;
    height: 300px;
    width: 100%;
    background: linear-gradient(to right, #050409, #090818 );
    overflow: hidden;
    text-align: center;
    padding: 1rem;
    &__header {
        font-weight: 600;
    }
    &__text {
        position: absolute;
        white-space: nowrap;
        &--left {
            left: 0;
            top: 6rem;
            animation: moveLeft 30s linear infinite;
            @keyframes moveLeft {
                0%{
                    transform: translate3d(0, 0, 0);
                }
                100%{
                    transform: translate3d(-50%, 0, 0);
                }
            }
        }
        &--right {
            right: 0;
            top: 13rem;
            animation: moveRight 30s linear infinite;
            @keyframes moveRight {
                0%{
                    transform: translate3d(0, 0, 0);
                }
                100%{
                    transform: translate3d(50%, 0, 0);
                }
            }
        }
    }
    @media(max-width:700px) {
        & {
            height: 200px;
        }
        &__text {
            font-size: 25px;
            &--left {
                top: 5rem;
            }
            &--right {
                top: 8rem;
            }
        }
    }



}